@font-face {
  font-family: 'OCR-A';
  src: url('/fonts/ocr-a.ttf') format('truetype');
}

* {
  font-family: 'OCR-A';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 6px;
}

*:focus {
  outline: none;
}

body {
  color: #4a5b65;
  background-color: black;
}

input {
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}
