.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInBtn {
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.logInBtn:hover {
  background-color: #666;
  color: white;
}

.toDoCon {
  margin-bottom: 40px;
  margin: 0px auto;
  width: 420px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  line-height: 56px;
  padding-left: 15px;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 24px;
}

.main {
  min-height: 360px;
  max-height: 360px;
  overflow-y: scroll;
  background-color: #202020;
}

.main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.main::-webkit-scrollbar-track-piece {
  background-color: #393939;
}

.main::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

.item {
  font-size: 12px;
  list-style: none;
  padding: 12px 0;
  background-color: #202020;
  border-bottom: 1px solid black;
  color: #339933;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  padding: 18px;
  transition: all 0.2s linear;
  cursor: pointer;
  word-break: break-all;
}

.item:hover {
  color: #77cc77;
}

.item:hover .delete {
  visibility: visible;
}

.done {
  display: block;
  width: 16px;
  height: 16px;
  background-color: darkgreen;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid darkgreen;
}

.undone {
  display: block;
  width: 16px;
  height: 16px;
  background-color: rgb(162, 241, 162);
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid darkgreen;
}

.done input,
.undone input {
  opacity: 0;
}

.delete {
  /* display: none; */
  visibility: hidden;
  width: 16px;
  height: 16px;
  font-weight: bolder;
  background-color: #de3f53;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  margin: 0 auto;
}

.delete:hover {
  background-color: #fff;
  color: #de3f53;
  font-weight: bolder;
  cursor: pointer;
}

.delete input {
  opacity: 0;
}
.itemCtx_undone {
  flex-grow: 2;
}

.itemCtx_done {
  flex-grow: 2;
  text-decoration: line-through;
}

/* header */
.newItem {
  width: 100%;
  padding: 32px;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: #292929;
  color: #fff;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clear {
  color: #339933;
  font-size: 14px;
  padding: 10px;
}

.completed {
  font-size: 14px;
  padding: 10px;
}
